@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9c8276, #3b3b3b); /* Fancy gradient */
  border-radius: 8px;
  border: 3px solid #f3f4f6; /* Adds a gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #745d4f, #1f1f1f); /* Darker gradient on hover */
}